.App-header {
  background-color: hotpink;
  height: 150px;
  padding: 20px;
  color: white;
  &:hover {
    background-color: black;
  }
}

.color-unit {
  min-width: 1px;
  min-height: 1px;
}

.colors-wrapper {
  display: flex;
  flex-wrap: wrap;
}